__pycache__/
*.pyc

gyms/__pycache__
episode_recorderrun_0/
.ipynb_checkpoints
mazes/
colab_safe_version/
.idea/*

snake/game_copy.py
snake/__pycache__

snake/learn_snake.ipynb
snake/play_snake.ipynb

**/__pycache__/
